<!--头部文件-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>回天大脑 - 数说回天</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.min.css" />
	<script type="text/javascript" src="js/plugin/echarts.js"></script>
	<script type="text/javascript" src="js/plugin/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/plugin/template.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.countup.min.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.waypoint.min.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/app.min.js"></script>
	<script type="text/javascript" src="js/plugin/echarts-wordcloud.min.js"></script>
	<script type="text/javascript" src="js/changping_ht_update.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/index_update.js"></script>
</head>

<body>
	<!--fixed-header-wrap-->
	<div class="fixed-header-wrap">
		<div class="left-content"></div>
		<div class="mid-title"> 数说回天 </div>
		<div class="right-content">
			<ul class="nav-list">
				<li class="active"><a href="index.html">数说回天</a></li>
				<li><a href="shujuwenzheng2.html">数据问诊</a></li>
				<li><a href="jiezhenhuaxiang.html">街镇画像</a></li>
				<li><a href="zhibiaohuaxiang2.html">指标画像</a></li>
				<li><a href="yunyingjiance.html">运营监测</a></li>
			</ul>
		</div>
	</div>
	<!--/fixed-header-wrap-->
	<!--main-wrapper-->
	<div class="main-wrapper">
		<div class="container">
			<!--ht-home-container-->
			<div class="ht-home-container" id="HTHomeContainer">
				<!--ht-top-wrap-->
				<div class="ht-top-wrap">
					<!--ht-left-content-->
					<div class="ht-left-content">
						<!--yy-box-ss-wrap-->
						<div class="yy-box-ss-wrap ht-inner-01-box">
							<div class="box-title">
								<div class="h3">回天印象</div>
							</div>
							<div class="box-content">
								<!--htyx-top-box-->
								<div class="htyx-top-box">
									<div class="nav-list-box">
										<ul class="list" id="leftTabChartNav"></ul>
									</div>
								</div>
								<!--/htyx-top-box-->
								<!--htyx-bottom-box-->
								<div class="htyx-bottom-box" id="HTYXBottomBox"></div>
								<!--/htyx-bottom-box-->
							</div>
						</div>
						<!--/yy-box-ss-wrap-->
					</div>
					<!--/ht-left-content-->
					<!--ht-middle-content-->
					<div class="ht-middle-content" id="HTMiddleContent"></div>
					<!--/ht-middle-content-->
					<!--ht-right-content-->
					<div class="ht-right-content">
						<!--camera-list-box-->
						<div class="camera-list-box update-camera-list-box">
							<!--list-box-->
							<div class="list-box clr01">
								<div class="list-content" id="TFSJBox"></div>
							</div>
							<!--/list-box-->
							<!--list-box-->
							<div class="list-box clr02">
								<div class="list-content">
									<div class="chart-box" id="TFSJChartBox"></div>
								</div>
							</div>
							<!--/list-box-->
						</div>
						<!--/camera-list-box-->
						<!--ht-left-section-01-->
						<div class="ht-left-section-01">
							<!--yy-box-ss-wrap-->
							<div class="yy-box-ss-wrap ht-inner-06-box">
								<div class="box-title">
									<div class="h3">媒体聚焦</div>
								</div>
								<div class="box-content">
									<!--zybd-top-nav-->
									<div class="zybd-top-nav">
										<div class="left">2016-2017</div>
										<div class="right">2017-2020</div>
									</div>
									<!--/zybd-top-nav-->
									<!--zybd-chart-list-wrap-->
									<div class="zybd-chart-list-wrap">
										<div class="left-chart" id="bottomLeftChartBox"></div>
										<div class="right-chart" id="bottomRightChartBox"></div>
									</div>
									<!--/zybd-chart-list-wrap-->
								</div>
							</div>
							<!--/yy-box-ss-wrap-->
						</div>
						<!--/ht-left-section-01-->
					</div>
					<!--/ht-right-content-->
				</div>
				<!--/ht-top-wrap-->
				<!--ht-bottom-wrap-->
				<div class="ht-bottom-wrap">
					<!--ht-left-section-01-->
					<div class="ht-left-section-05">
						<!--yy-box-ss-wrap-->
						<div class="yy-box-ss-wrap ht-inner-02-box">
							<div class="box-title">
								<div class="h3"><a href="javascript:;" class="link" id="SNJHBtnMore">落图详细&gt;&gt;</a>
									<h4>三年行动计划</h4>
								</div>
							</div>
							<div class="box-content">
								<div class="snxdjh-list-box" id="SNXDJHList"></div>
							</div>
						</div>
						<!--/yy-box-ss-wrap-->
					</div>
					<!--/ht-left-section-01-->
					<!--ht-left-section-02-->
					<div class="ht-left-section-06">
						<!--yy-box-ss-wrap-->
						<div class="yy-box-ss-wrap ht-inner-04-box">
							<div class="box-title">
								<div class="h3"><a href="javascript:;" class="link">详细&gt;&gt;</a>
									<h4>基层治理</h4>
								</div>
							</div>
							<div class="box-content">
								<!--jczl-left-->
								<div class="jczl-left">
									<ul class="list" id="JCZLNavInfo"></ul>
								</div>
								<!--/jczl-left-->
								<!--jczl-right-->
								<div class="jczl-right">
									<div class="chart-box" id="JCZLChartBox"></div>
								</div>
								<!--/jczl-right-->
							</div>
						</div>
						<!--/yy-box-ss-wrap-->
					</div>
					<!--/ht-left-section-02-->
					<!--ht-left-section-03-->
					<div class="ht-left-section-07">
						<!--yy-box-ss-wrap-->
						<div class="yy-box-ss-wrap ht-inner-05-box">
							<div class="box-title">
								<div class="h3"><a href="javascript:;" class="link">详细&gt;&gt;</a>
									<h4>社区管理</h4>
								</div>
							</div>
							<div class="box-content">
								<!--ht-inner-05-left-->
								<div class="ht-inner-05-left">
									<ul class="list" id="HT05RightList"></ul>
								</div>
								<!--/ht-inner-05-left-->
								<!--ht-inner-05-right-->
								<div class="ht-inner-05-right">
									<div class="chart-box" id="HT05RightChart"></div>
								</div>
								<!--/ht-inner-05-right-->
							</div>
						</div>
						<!--/yy-box-ss-wrap-->
					</div>
					<!--/ht-left-section-03-->
					<!--ht-left-section-04-->
					<div class="ht-left-section-08">
						<!--yy-box-ss-wrap-->
						<div class="yy-box-ss-wrap ht-inner-03-box">
							<div class="box-title">
								<div class="h3"><a href="javascript:;" class="link">详细&gt;&gt;</a>
									<h4>交通情况</h4>
								</div>
							</div>
							<div class="box-content">
								<!--top-nav-list-->
								<div class="top-nav-list" id="JTQKTopNavBox">
									<ul class="list" id="JTQKNavList"></ul>
								</div>
								<!--/top-nav-list-->
								<div class="chart-box" id="JTQKChartBox"></div>
							</div>
						</div>
						<!--/yy-box-ss-wrap-->
					</div>
					<!--/ht-left-section-04-->
				</div>
				<!--/ht-bottom-wrap-->
			</div>
			<!--/ht-home-container-->
		</div>
	</div>
	<!--/main-wrapper-->
	<!--突发事件和诉求热点-->
	<script type="text/html" id="tplTFListHtml">
		<div class="list-item active">
			<h3 style="color: {{firstInfo.color}};">{{firstInfo.title}}</h3>
			<p>{{firstInfo.intro}}</p>
			<a href="javascript:;" class="link"></a>
		</div>
		{{each dataList as item i}}
		<div class="list-item">
			<h3 style="color: {{item.color}};">{{item.title}}</h3>
			<p>{{item.intro}}</p>
			<a href="javascript:;" class="link"></a>
		</div>
		{{/each}}
	</script>
	<!--社区管理 左则内容-->
	<script type="text/html" id="tplSQListHtml">
	{{each dataList as item}}
	<li>
		<p>{{item.name1}}</p>
		<p>{{item.name2}}</p>
		<h3>{{item.value}}</h3>
	</li>
	{{/each}}
	</script>
	<!--基层治理 左侧内容-->
	<script type="text/html" id="tplJCZLListHtml">
		<li>
			<img src="images/ht_icon_04.png" alt="" class="img">
			<div class="inline-block">
				<p>响应率</p>
				<h3>{{dataInfo.xylValue}}</h3>
			</div>
		</li>
		<li>
			<img src="images/ht_icon_05.png" alt="" class="img">
			<div class="inline-block">
				<p>解决率</p>
				<h3>{{dataInfo.jjlValue}}</h3>
			</div>
		</li>
		<li>
			<img src="images/ht_icon_06.png" alt="" class="img">
			<div class="inline-block">
				<p>满意率</p>
				<h3>{{dataInfo.mylValue}}</h3>
			</div>
		</li>
	</script>
	<!--交通情况导航模板-->
	<script type="text/html" id="tplJTQKNavHtml">
	{{each dataList as item i}}
	<li {{if index==i}}class="act" {{/if}}>{{item.name}}</li>
	{{/each}}
	</script>
	<!--三年行动计划-->
	<script type="text/html" id="tplSNXDJHHtml">
		<ul class="list">
			<li>项目 <span class="clr clr_normal counter">{{dataInfo.programValue}}</span> 项</li>
			<li>完工 <span class="clr clr_orange counter">62</span> 项</li>
		</ul>
		<div class="score-box">
			<p>回天行动计划今年第三季度综合满意度 <span class="clr clr_normal counter">7.5</span> 分</p>
			<p>较2018年提高 <span class="clr clr_orange counter">1.2</span> 分</p>
		</div>
	</script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * 中间顶部数据 模板 Start * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!--中间顶部数据 默认-->
	<script type="text/html" id="tplMidTopListDefault">
		<!--mid-top-info-->
	<ul class="mid-top-info" id="mapTopInfo">
		{{each dataList as item i}}
		<li class="act" data-url="{{item.url}}">
			<img src="{{item.icon}}" alt="" class="icon">
			<div class="inline-block">
				<p class="name">{{item.name}}</p>
				<p>
					<span class="value clr01 counter" style="color: {{item.color}};">{{item.value}}</span>
					{{if item.unit}}
					<span class="unit">{{item.unit}}</span>
					{{/if}}
				</p>
			</div>
		</li>
		{{/each}}
	</ul>
	<!--/mid-top-info-->
	<!--mid-map-box-->
	<div class="mid-map-box">
		<div class="map-chart-box" id="mapChartBox"></div>
	</div>
	<!--/mid-map-box-->
	</script>
	<!--中间顶部数据 人口-->
	<script type="text/html" id="tplMidTopListRK">
		<!--mid-bottom-cont-->
	<!--<div class="mid-bottom-cont">-->
	<!--<div class="mid-map-chart-box left" data-title="回天地区老年、幼儿人口增长趋势">-->
	<!--<div class="chart-box" id="MidMapChart1Box"></div>-->
	<!--</div>-->
	<!--<div class="mid-map-chart-box right" data-title="回天地区IT类人员增长趋势">-->
	<!--<div class="chart-box" id="MidMapChart2Box"></div>-->
	<!--</div>-->
	<!--</div>-->
	<!--/mid-bottom-cont-->
	<!--mid-map-box-->
	<!--<div class="mid-map-box update-mid-map">-->
	<!--<div class="map-chart-box" id="mapChart1Box"></div>-->
	<!--</div>-->
	<!--/mid-map-box-->
	<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
		<img src="images/tmp_lart_01.png" alt="" style="width: 100%;">
	</div>
	</script>
	<!--中间顶部数据 地域-->
	<script type="text/html" id="tplMidTopListDY">
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_lart_02.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 产业-->
	<script type="text/html" id="tplMidTopListCY">
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_lart_03.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 事务-->
	<script type="text/html" id="tplMidTopListSW">
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_lart_04.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 组织-->
	<script type="text/html" id="tplMidTopListZZ">
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_lart_05.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 全部-->
	<script type="text/html" id="tplMidTopListSNJH">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_01.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 教育-->
	<script type="text/html" id="tplMidTopListJY">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_02.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 交通-->
	<script type="text/html" id="tplMidTopListJT">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_03.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 医疗-->
	<script type="text/html" id="tplMidTopListYL">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_04.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 养老-->
	<script type="text/html" id="tplMidTopListYL2">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_05.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 三年行动计划 公共设施-->
	<script type="text/html" id="tplMidTopListGGSS">
		<div class="mid-SNJH-nav-box">
			<ul class="list">
				{{each navList as item i}}
				<li data-id="{{item.value}}" {{if navIndex==i}}class="act" {{/if}}>{{item.name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_sjjh_06.png" alt="" style="width: 100%;">
		</div>
	</script>
	<!--中间顶部数据 突发事件-->
	<script type="text/html" id="tplTFSJHtml">
		<div class="mid-map-box" style="overflow: hidden; margin-top: 0; height: 100%;">
			<img src="images/tmp_tfsj_01.png" alt="" style="width: 100%; height: 100%;">
		</div>
	</script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * 中间顶部数据 模板 End * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * 回天印象 左侧内容 切换模板 Start * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!--回天印象左侧内容 人口 模板-->
	<script type="text/html" id="tplTabRKContentHtml">
		<div class="chart-content-box update-chart-box RK-first-box">
			{{each dataList as item i}}
			<!--htyx-list-item  {{index==i?'active':''}}-->
			<div class="htyx-list-item  {{index==i?'active':''}}">
				<div class="top-side"></div>
				<div class="middle-content">
					<div class="title">
						<img src="{{item.icon}}" alt="{{item.title}}" />
						<h3>{{item.title}}</h3>
					</div>
					<div class="content">
						<span class="value counter">{{item.value}}</span>
						<span class="unit">{{item.unit}}</span>
					</div>
				</div>
				<div class="bottom-side"></div>
			</div>
			<!--/htyx-list-item-->
			{{/each}}
		</div>
	</script>
	<!--回天印象左侧内容 地域 模板-->
	<script type="text/html" id="tplTabDYContentHtml">
		<div class="chart-content-box update-chart-box">
			{{each dataList as item i}}
			<!--htyx-list-item  {{index==i?'active':''}}-->
			<div class="htyx-list-item  {{index==i?'active':''}}">
				<div class="top-side"></div>
				<div class="middle-content">
					<div class="title">
						<img src="{{item.icon}}" alt="{{item.title}}" />
						<h3>{{item.title}}</h3>
					</div>
					<div class="content">
						<span class="value counter">{{item.value}}</span>
						<span class="unit">{{item.unit}}</span>
					</div>
				</div>
				<div class="bottom-side"></div>
			</div>
			<!--/htyx-list-item-->
			{{/each}}
		</div>
	</script>
	<!--回天印象左侧内容 产业 模板-->
	<script type="text/html" id="tplTabCYContentHtml">
		<div class="chart-content-box update-chart-box">
			{{each dataList as item i}}
			<!--htyx-list-item  {{index==i?'active':''}}-->
			<div class="htyx-list-item style-02 {{index==i?'active':''}}">
				<div class="top-side"></div>
				<div class="middle-content">
					<div class="title">
						<img src="{{item.icon}}" alt="{{item.title}}" />
						<h3>{{item.title}}</h3>
					</div>
					<div class="content">
						<span class="value counter">{{item.value}}</span>
						<span class="unit">{{item.unit}}</span>
					</div>
				</div>
				<div class="bottom-side"></div>
			</div>
			<!--/htyx-list-item-->
			{{/each}}
		</div>
	</script>
	<!--回天印象左侧内容 事务 模板-->
	<script type="text/html" id="tplTabSWContentHtml">
		<div class="chart-content-box update-chart-box">
			{{each dataList as item i}}
			<!--htyx-list-item  {{index==i?'active':''}}-->
			<div class="htyx-list-item style-02 {{index==i?'active':''}}">
				<div class="top-side"></div>
				<div class="middle-content">
					<div class="title">
						<img src="{{item.icon}}" alt="{{item.title}}" />
						<h3>{{item.title}}</h3>
					</div>
					<div class="content">
						<span class="value counter">{{item.value}}</span>
						<span class="unit">{{item.unit}}</span>
					</div>
				</div>
				<div class="bottom-side"></div>
			</div>
			<!--/htyx-list-item-->
			{{/each}}
		</div>
	</script>
	<!--回天印象左侧内容 组织 模板-->
	<script type="text/html" id="tplTabZZContentHtml">
		<div class="chart-content-box update-chart-box">
			{{each dataList as item i}}
			<!--htyx-list-item  {{index==i?'active':''}}-->
			<div class="htyx-list-item style-03 {{index==i?'active':''}}">
				<div class="top-side"></div>
				<div class="middle-content">
					<div class="title">
						<img src="{{item.icon}}" alt="{{item.title}}" />
						<h3>{{item.title}}</h3>
					</div>
					<div class="content">
						<span class="value counter">{{item.value}}</span>
						<span class="unit">{{item.unit}}</span>
					</div>
				</div>
				<div class="bottom-side"></div>
			</div>
			<!--/htyx-list-item-->
			{{/each}}
		</div>
	</script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * 回天印象 左侧内容 切换模板 End * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!--字符云-->
	<script type="text/html" id="tplCouldHtml">
	{{each dataList as item}}
	<li style="color: {{item.color}};">{{item.name}}</li>
	{{/each}}
	</script>
</body>

</html>