<!--头部文件-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>回天大脑 - 接诉即办</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.min.css" />
	<script type="text/javascript" src="js/plugin/echarts.js"></script>
	<script type="text/javascript" src="js/plugin/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/plugin/template.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.countup.min.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.waypoint.min.js"></script>
	<script type="text/javascript" src="js/plugin/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/app.min.js"></script>
	<script type="text/javascript" src="js/plugin/mapbox-gl.js"></script>
	<script type="text/javascript" src="js/changping_js.js"></script>
	<script type="text/javascript" src="js/jiesujiban.js"></script>
</head>

<body>
	<!--fixed-header-wrap-->
	<div class="fixed-header-wrap">
		<div class="left-content"></div>
		<div class="mid-title"> 运营监测 </div>
		<div class="right-content">
			<ul class="nav-list">
				<li><a href="index2.html">数说回天</a></li>
				<li><a href="shujuwenzheng2.html">数据问诊</a></li>
				<li><a href="jiezhenhuaxiang.html">街镇画像</a></li>
				<li><a href="zhibiaohuaxiang2.html">指标画像</a></li>
				<li class="active"><a href="yunyingjiance.html">运营监测</a></li>
			</ul>
		</div>
	</div>
	<!--/fixed-header-wrap-->
	<!--main-wrapper-->
	<div class="main-wrapper">
		<div class="container">
			<!--mid-top-nav-box-->
			<div class="yy-mid-top-nav-box">
				<ul class="list">
					<li><a href="yunyingjiance.html">实时交通</a></li>
					<li><a href="web_sx/ssrl.html">实时人流</a></li>
					<li class="act"><a href="jiesujiban.html">接诉即办</a></li>
				</ul>
			</div>
			<!--/mid-top-nav-box-->
			<!--yy-container-->
			<div class="yy-container yy-jsjb-container">
				<!--yy-left-content-->
				<div class="yy-left-content">
					<!--yy-box-ss-wrap-->
					<div class="yy-box-ss-wrap yy-left-box1-wrap">
						<div class="box-title">
							<div class="h3">市民反映问题</div>
						</div>
						<div class="box-content">
							<div class="jsjb-smfy-list" id="SMFYList"></div>
						</div>
					</div>
					<!--/yy-box-ss-wrap-->
					<!--yy-box-ss-wrap-->
					<div class="yy-box-ss-wrap yy-left-box2-wrap">
						<div class="box-content">
							<!--mrb-box-->
							<div class="mrb-box">
								<div class="mrb-tit">
									<h3>热点街镇</h3>
								</div>
								<div class="mrb-cont">
									<ul class="top-sort-list" id="topSortList"></ul>
								</div>
							</div>
							<!--/mrb-box-->
						</div>
					</div>
					<!--/yy-box-ss-wrap-->
					<!--yy-box-ss-wrap-->
					<div class="yy-box-ss-wrap yy-left-box3-wrap">
						<div class="box-content">
							<!--mrb-box-->
							<div class="mrb-box">
								<div class="mrb-tit">
									<h3>诉求分类</h3>
								</div>
								<div class="mrb-cont">
									<div class="chart-box" id="pieChartBox"></div>
								</div>
							</div>
							<!--/mrb-box-->
						</div>
					</div>
					<!--/yy-box-ss-wrap-->
				</div>
				<!--/yy-left-content-->
				<!--yy-middle-content-->
				<div class="yy-middle-content">
					<!--mid-top-list-box-->
					<div class="mid-top-list-box">
						<ul class="list" id="midTopListBox"></ul>
					</div>
					<!--/mid-top-list-box-->
					<!--mid-bottom-list-box-->
					<div class="mid-bottom-list-box">
						<ul class="list" id="midBottomListBox"></ul>
					</div>
					<!--/mid-bottom-list-box-->
					<!--mid-map-box-->
					<div class="mid-map-box">
						<div class="chart-map-box" id="chartMapBox"></div>
					</div>
					<!--/mid-map-box-->
				</div>
				<!--/yy-middle-content-->
				<!--yy-right-content-->
				<div class="yy-right-content">
					<!--yy-box-ss-wrap-->
					<div class="yy-box-ss-wrap yy-left-box3-wrap">
						<div class="box-title">
							<div class="h3">诉求预测分析</div>
						</div>
						<div class="box-content">
							<div class="yc-list-box" id="ycListBox"></div>
						</div>
					</div>
					<!--/yy-box-ss-wrap-->
				</div>
				<!--/yy-right-content-->
			</div>
			<!--/yy-container-->
		</div>
	</div>
	<!--/main-wrapper-->
	<!--路段列表模板-->
	<script type="text/html" id="tplLDListBoxHtml">
	{{each dataList as item i}}
	<div class="list-item item{{i+1}}">
		<p class="value" style="color: {{item.color}};">{{item.value}}</p>
		<p class="name">{{item.name}}</p>
	</div>
	{{/each}}
	</script>
	<!--热点街镇-->
	<script type="text/html" id="tplRightContent">
	{{each dataList as item i}}
	<li {{if i==index}}class="active" {{/if}}>
		<p class="num" style="background-color: {{item.color}};">{{item.id}}</p>
		<p class="name">{{item.name}}</p>
		<p class="value" style="color: {{item.color}};">
			<span>{{item.value}}</span>
			<span class="unit">件</span>
		</p>
		<p class="value2" style="color: {{item.color}};">
			<span>{{item.value2}}</span>
			{{if item.isUp}}
			<img src="images/icon_up.png" alt="" class="icon" />
			{{else}}
				<img src="images/icon_down.png" alt="" class="icon" />
				{{/if}}
		</p>
	</li>
	{{/each}}
	</script>
	<!--诉求预测分析-->
	<script type="text/html" id="tplYCListHtml">
		<li class="top">
			<div class="flex-box">
				<h3>预测分析数</h3>
				<p class="val">{{dataInfo.number}}</p>
				{{if dataInfo.isUp}}
				<img src="images/icon_up.png" alt="" />
				{{else}}
					<img src="images/icon_down.png" alt="" />
					{{/if}}
			</div>
		</li>
		{{each dataList as item}}
		<li>
			<p class="row-list">
				<span class="tag">[{{item.tag}}]</span>
				<span class="date">{{item.date}}</span>
				<span class="name">{{item.name}}</span>
			</p>
			<p class="row-list">{{item.intro}}</p>
			<p class="row-list"><span>预测：</span><span class="status">{{item.status}}</span></p>
			<p class="row-list"><span>建议：</span><span class="adv">{{item.adv}}</span></p>
			<a href="javascript:;" class="link"><img src="images/yy_icon_camera.png" alt=""></a>
		</li>
		{{/each}}
	</script>
	<!--中间顶部数据-->
	<script type="text/html" id="tplMidTopList">
		<li>
			<img src="images/jsjb_icon_01.png" alt="" class="icon">
			<div class="inline-block">
				<p>当日市民反应量</p>
				<p>
					<span class="value clr01">{{dataInfo.FYLValue}}</span>
					<span class="unit">个</span>
				</p>
			</div>
		</li>
		<li class="right-info">
			<div class="tu-fa-list">
				{{each dataList as item i}}
				<div class="list-item {{i==1?'act':''}}">
					<span class="time">{{item.time}}</span>
					<span class="title">{{item.title}}</span>
					<span class="pos">立即定位</span>
				</div>
				{{/each}}
			</div>
		</li>
	</script>
	<!--中间底部数据-->
	<script type="text/html" id="tplMidBottomList">
		<li>
			<img src="images/jsjb_icon_02.png" alt="" class="icon">
			<div class="inline-block">
				<p>综合得分</p>
				<p>
					<span class="value clr04">{{dataInfo.ZHDFValue}}</span>
				</p>
			</div>
		</li>
		<li>
			<img src="images/jsjb_icon_03.png" alt="" class="icon">
			<div class="inline-block">
				<p>响应率</p>
				<p>
					<span class="value clr05">{{dataInfo.XYLValue}}</span>
				</p>
			</div>
		</li>
		<li>
			<img src="images/jsjb_icon_05.png" alt="" class="icon">
			<div class="inline-block">
				<p>解决率</p>
				<p>
					<span class="value clr06">{{dataInfo.JJLValue}}</span>
				</p>
			</div>
		</li>
		<li>
			<img src="images/jsjb_icon_06.png" alt="" class="icon">
			<div class="inline-block">
				<p>满意率</p>
				<p>
					<span class="value clr06">{{dataInfo.MYLValue}}</span>
				</p>
			</div>
		</li>
	</script>
</body>

</html>