
 * {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    #map {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .mapboxgl-ctrl-logo {
        display: none !important
    }

    .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        margin-top: 5px;
    }

    #charts_box {
        width: 260px;
        position: absolute;
        top: 230px;
        right: 5px;
        background: rgba(7, 27, 52, .95);
        z-index: 50;
        display: none;
    }

    #charts_box h6 {
        font: 13px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        color: #93add2;
        margin: 7px 0 7px 5px;
    }

    #charts_box h6 label {
        margin-left: 5px;
    }

    .iconfont {
        font-size: 14px;
    }

    table {
        margin: 0 auto;
        font-size: 12px;
        border: 1px solid #0d599d;
        z-index: 10000;
        border-collapse: collapse;
        color: #93add2;
    }

    table tr {
        border: 1px solid #0d599d;
    }

    table tr td {
        border: 1px solid #0d599d;
        padding: 5px;
    }
.left {
	width: 25%;
	height: 92%;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
}

.right {
	width: 25%;
	height: 92%;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 2;
}

.center {
	width: 48%;
	height: 240px;
	position: absolute;
	bottom: 10px;
	left: 26%;
	z-index: 2;
}
.searchBox {
	padding: 10px 0;
	color:#FFFFFF;
}

.searchBox label {
	padding-left: 10px;
}

.searchBox input {
	width: 100px;
	border: none;
	height: 26px;
	background: none;
	border: 1px solid #10A9EC;
	color: #fff;
	padding-left: 15px;
}

.searchBox button {
	width: 60px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	text-align: center;
	background: #2896FB;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	border: none;
	margin-left: 10px;
	border-radius: 3px;
}

.search_areaSelect {
	width: 115px;
	height: 26px;
	color: #fff;
	background: none;
	border-width: 1px;
	border-style: solid;
	border-color: #10A9EC;
	border-image: initial;
	outline: none;
}

.search_areaSelect option {
	background: #04394E;
}
.title_text_reset{
	width:100%;
	height:70px;
	border-bottom:1px dashed #17d1ec;
	border-top:1px dashed #17d1ec;
}
.title_text_area{
	width:33%;
	height:58px;
	margin-top: 6px;
	border-right:1px dashed #17d1ec;
	float: left;
}
.title_text_area_right{
	border-right:none;
}
.title_text_pubilc{
	width:90%;
	height:24px;
	margin: 0 auto;
	text-align: center;
	color:#FFFFFF;
}
.title_text_value{
	width:90%;
	height:43px;
	margin: 0 auto;
	text-align: center;
	color:#33E1FE;
	font-weight: 600;
	line-height:43px;
}
.title_text_value{
	
}
.text_color{
	font-size: 22;
    color:#33E1FE;
}
.qyjy_qylrlc{
	height:23.5%;
}
.bg {
	background:rgba(7,7,43,0.8);
	border:1px solid #65AAB9;
	box-sizing: border-box;
}
.publicPox {
	height: calc(100% - 30px);
}
.publicHeader {
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 17px;
	padding-left: 10px;
	position:relative;
}

.publicHeader img {
	vertical-align: middle;
	display: none;
}
.blank {
	height: 10px;
}

.qyjy_qylrlc{
	height:24%;
}
.qyjt_leftBot{
	height:calc(76% - 414px);
}

.qyjy_hyfz{
	height:240px;
}


.qyjy_hyrczs{
	height:23%;
}
.qyjy_gzrk{
	height:37%;
}
.jmsh_tqsj{
	height:38%;
}
.jmsh_tqbj{
	height:200px;
}
.centerEach{
	height:100%;
	float: left;
}
.detailMore {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.mengceng {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 3;
    display: none;
}
.qyjy_drag {
    width: 1128px;
    height: 685px;
    background: #032639;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -564px;
    margin-top: -342px;
    z-index: 110;
    border: 1px solid #19BDDB;
    box-shadow: 0px 0px 20px #15a7b5;
    box-sizing: border-box;
    display: none;
}
.qyjy_gzrkDragChart {
    width: 1126px;
    height: 653px;
    margin: 0 auto;
}
.qyjy_gzrkTop {
    width: 1126px;
    height: 250px;
}
.tab {
    height: 50px;
    position: relative;
}
.qyjy_gzrkBottom {
    width: 1126px;
    height: 353px;
}
.qyjyDrag_jgd {
    width: 394px;
    height: 353px;
    float: left;
}
.qyjyDrag_center {
    width: 338px;
    height: 353px;
    float: left;
}
.qyjyDrag_sex {
    height: 150px;
    width: 338px;
}
.qyjyDrag_age {
    height: 203px;
    width: 338px;
}
.qyjyDrag_jzd {
    width: 394px;
    height: 353px;
    float: left;
}
.publicHeader .detail_close {
    float: right;
    cursor: pointer;
    margin-top: -15px;
    margin-right: -15px;
}
.publicTab {
    width: 204px;
    height: 26px;
    top: 15px;
    left: 50%;
    margin-left: -102px;
    border: 1px solid #236EBF;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
.publicTab b {
    width: 100px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    float: left;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.publicTab b:not(:last-child) {
    border-right: 1px solid #236EBF;
}
.publicTab b.active {
    background: #008FBD;
    color: #fff;
}
#job_count {
    position: absolute;
    width:180px;
    height: 34px;
    right: 27%;
    top: 140px;
    z-index: 100;
    background: #0C0B2D;
}
#job_count li {
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    display: inline-block;
    width: 90px;
    height: 34px;
    text-align: left;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    border:1px solid #534b84;
}
li {
    list-style: none;
}
#job_count li img {
    height:22px;
    margin-top: -13px;
    margin-right: 10px;
}
#job_count li.active {
    /*color: #1589FF;*/
   background:#07234B;
   border: 1px solid #65A0B9;
}

.tabs{
	position: absolute;
    right: 38%;
    top: 90px;
    z-index: 5; 
}
.tabs p{
	width:110px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	border:1px solid #534b84;
	text-align: center;
	line-height: 40px;
	background:#0C0B2D;
	position: relative;
	cursor: pointer;
	color:#fff;
	padding-left: 25px;
	letter-spacing: 20px;
	font-size: 20px;
}
.tabs p.on{
	background: #07234B;
    border: 1px solid #65A0B9;
}
.tabs p:hover{
    color: #05c9e0;
    animation: pulse ease-out 1s 0.4s;
}
.tabs p::before,.tabs p::after{
    content: "";
    position: absolute;
    width: 0;
    height:0;
    visibility: hidden;
}
.tabs p::before{
    top:0;
    left: 0;
    border-top:1px solid #05c9e0;
    border-right:1px solid #05c9e0;
    transition: height 0.1s 0.2s,width 0.1s 0.3s,visibility 0s 0.4s;
}
.tabs p::after{
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #05c9e0;
    border-left:1px solid #05c9e0;
    transition: height 0.1s,width 0.1s 0.1s,visibility 0s 0.2s;
}
.tabs p:hover::before,
.tabs p:hover::after{
    width: 100%;
    height: 100%;
    visibility: visible;
}

.tabs p:hover::before {
    transition:
    visibility 0s,
    width 0.1s,
    height 0.1s 0.1s;
}

.tabs p:hover::after {
    transition:
    visibility 0s 0.2s, 
    width 0.1s 0.2s,
    height 0.1s 0.3s; 
}
@keyframes pulse{
    from{
       box-shadow: 0 0 rgba(20,123,136, 0.6);
    }
    to{
        box-shadow: 0 0 0 0.6em rgba(20,123,136, 0);
    }
}
.legend {
    background-color: rgba(7,7,43,0.8);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    font: 20px/40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding:0 10px 10px 10px;
    position: absolute;
    right:26%;
    bottom: 28%;
    z-index: 1;
    color: #fff;
}
.legend p{
	font-size:14px;
	height:30px;
}
.legend div {
    font-size:14px;
    height:24px;
}
.legend div span {
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    width: 8px;
}